header {
  background: var(--theme);
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.reg-button{
    text-decoration:none;
    
    padding-left:20px;
    padding-right:20px;
    background-color:transparent;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:25px;
    margin-right: 0.5em;
    }


.appName {
  font-family: "cursive-insta";
}

#title{
  margin-left: 0.6em;
}

header > .icon {
  width: 2em;
  height: 2em;
  padding: 0.6em;
}

.btn-closeQuiz {
  display: none;
}

#timer {
  margin: auto;
}
